access==1.1.8
affine==2.4.0
attrs==22.2.0
aws-requests-auth==0.4.3
basemap==1.3.6
basemap-data @ file:///C:/ci/basemap-split_1645455835166/work/packages/basemap_data
beautifulsoup4 @ file:///C:/b/abs_88es_4clol/croot/beautifulsoup4-split_1680589977077/work
boto3==1.26.104
botocore==1.29.104
Bottleneck @ file:///C:/ci_311/bottleneck_1676500016583/work
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
brotlipy==0.7.0
certifi==2022.12.7
cffi @ file:///C:/ci_311/cffi_1676423759166/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
colorama @ file:///C:/ci_311/colorama_1676422310965/work
contourpy==1.0.7
coverage @ file:///C:/b/abs_f1hnjmeyi_/croot/coverage_1680096319603/work
cryptography @ file:///C:/b/abs_e8cnom_zw_/croot/cryptography_1702071486468/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
deprecation @ file:///tmp/build/80754af9/deprecation_1628181869014/work
diagnostics==0.2.4
esda==2.4.3
et-xmlfile==1.1.0
exceptiongroup==1.1.1
Fiona==1.8.22
fonttools==4.25.0
geopandas==0.12.2
giddy==2.3.4
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
idna @ file:///C:/ci_311/idna_1676424932545/work
imageio==2.31.5
inequality @ file:///Users/ktietz/demo/mc3/conda-bld/inequality_1629799940949/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
jmespath @ file:///C:/b/abs_59jpuaows7/croot/jmespath_1700144635019/work
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
jsonlines @ file:///tmp/build/80754af9/jsonlines_1601490534517/work
jsonschema @ file:///C:/b/abs_d40z05b6r1/croot/jsonschema_1678983446576/work
kiwisolver @ file:///C:/ci_311/kiwisolver_1676431979301/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1692295373316/work
libpysal @ file:///tmp/build/80754af9/libpysal_1625165595815/work
llvmlite @ file:///C:/b/abs_da15r8vkf8/croot/llvmlite_1706910779994/work
lxml @ file:///C:/b/abs_c2bg6ck92l/croot/lxml_1679646459966/work
mapclassify @ file:///C:/ci_311/mapclassify_1678299389803/work
MarkupSafe==2.1.2
matplotlib @ file:///D:/bld/matplotlib-suite_1674079016842/work
matplotlib-scalebar==0.8.1
mgwr @ file:///tmp/build/80754af9/mgwr_1599703654170/work
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
momepy==0.7.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
munch @ file:///Users/ktietz/demo/mc3/conda-bld/munch_1630566382504/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numba @ file:///C:/b/abs_3e3co1qfvo/croot/numba_1707085143481/work
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682981337988/work
openpyxl==3.0.10
osmnx==1.7.1
packaging @ file:///C:/b/abs_ed_kb9w6g4/croot/packaging_1678965418855/work
pandas==1.5.3
patsy==0.5.3
pillow @ file:///C:/b/abs_e22m71t0cb/croot/pillow_1707233126420/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly==5.14.1
pluggy @ file:///C:/ci_311/pluggy_1676422178143/work
ply==3.11
pointpats==2.3.0
pooch @ file:///C:/b/abs_a8nmng7d_x/croot/pooch_1695850149827/work
PuLP==2.7.0
pycallgraph2==1.1.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.19.0
pygeos==0.14
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing @ file:///C:/ci_311/pyparsing_1678502182533/work
pyproj @ file:///C:/ci_311/pyproj_1676454686083/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyrsistent==0.19.3
pysal==2.6.0
pyshp @ file:///C:/b/abs_09wbovc984/croot/pyshp_1706101001476/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytest==7.2.2
pytest-cov @ file:///C:/b/abs_f6fe62w9qf/croot/pytest-cov_1680096322346/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2023.3
PyYAML @ file:///C:/ci_311/pyyaml_1676432488822/work
quantecon @ file:///home/conda/feedstock_root/build_artifacts/quantecon_1655746571862/work
quilt3==5.4.0
rasterio==1.3.6
rasterstats==0.18.0
regression-diagnostics==0.1
requests==2.28.2
requests-futures==1.0.0
Rtree @ file:///C:/ci_311/rtree_1676455758391/work
rvlib @ file:///D:/bld/rvlib_1707076224104/work
s3transfer @ file:///C:/ci_311/s3transfer_1676434371175/work
scikit-image==0.22.0
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work
scipy==1.10.1
seaborn @ file:///C:/ci_311/seaborn_1676446547861/work
segregation==2.1.0
shapely @ file:///C:/b/abs_e8n_rzfcjr/croot/shapely_1680636303476/work
simplejson==3.18.4
sip @ file:///D:/bld/sip_1697300573532/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
snuggs @ file:///Users/ktietz/demo/mc3/conda-bld/snuggs_1629803886966/work
soupsieve @ file:///C:/b/abs_a989exj3q6/croot/soupsieve_1680518492466/work
spaghetti==1.7.2
spglm @ file:///tmp/build/80754af9/spglm_1599705665839/work
spint @ file:///tmp/build/80754af9/spint_1600554209284/work
splot==1.1.5.post1
spopt==0.5.0
spreg @ file:///tmp/build/80754af9/spreg_1626462470540/work
spvcm==0.3.0
statsmodels @ file:///C:/ci_311/statsmodels_1677728225600/work
sympy @ file:///C:/ci_311_rebuilds/sympy_1679009400182/work
tenacity @ file:///C:/b/abs_ddkoa9nju6/croot/tenacity_1682972298929/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2023.9.26
tobler==0.9.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/ci_311/tomli_1676422027483/work
tornado @ file:///D:/bld/tornado_1708363244199/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///C:/b/abs_3ce53vrdcr/croot/urllib3_1680254693505/work
webencodings==0.5.1
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
