/infraScanRoad/data/
/infraScanRoad/plot/
/backup-04-26/
/infraScanRail/plot/
/infraScanRail/data/
/infraScanRail/data1/
/infraScanRail-deprec
/infraScanRail/plots/
infraScanRail/__pycache__
infraScanRail/_unused_files
infraScanRail/_helper_files
/infraScanRail/validation
/infraScanRail/markdowns
/infraScanRail/report
/.claude
/.vscode
/.superpowers
docs/
infraScanRail/data1/data_asarris.7z
